        <footer>
            <div class="row">
                <div class="col-sm-12">
                  <h4>Comments about this post?<br><small>Try one of these:</small></h4>
                  <ul>
                    <li>Tweet at me</li>
                    <li>Use github to <a href='https://github.com/imperialwicket/imperialwicket.com/issues/new?title="{{ .Title }} bug"&body="{{ .File.Dir }}{{ .File.FileName }} has issues..."'>Log an issue</a></li>
                    <li><a href="https://github.com/imperialwicket/imperialwicket.com">Fork it</a>, make corrections, and submit a PR with updates to content/{{ .File.Dir }}{{ .File.FileName }}</li>
                  </ul>
                  </p>
                </div>
            </div>
        </footer>
